<!DOCTYPE HTML>

<html>
<head>
	<title>Project X</title>
	<meta name="author" content="Major István">
	<meta name="description" content="Ennek a weboldalnak a célja egy Budapesti PUB bemutatása, leírása, adatainak és ajánlatainak gyűjtőhelye.">
	<meta name="keywords" content="dzsin, vodka, abszint, sör, beer, pálinka, whisky, pia, ital, alkohol, tequila, bor, finom, érlelt, füstös, jó hangulat, izgalmas, érdekes, egyedi, olcsó, fiatalos, stílusos, népszerű, csoportos, csapatos, ivás, italozás, kedvezmény, akció, buli, szórakozás, konyak, likőr, tátra tea, tea, kávé, coffee, darts, csocsó, billiárd, kényelmes, gin tonic, eper, citrom, narancs, rövidital, társaság">
	<meta charset="utf-8">
	<link href="../css/kinalat.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="fotarolo">
		<nav>
			<ul>
				<li><a href="../index.html#home">Home</a></li>
				<li><a href="../index.html#rolunk">Rólunk</a></li>
				<li><a href="kinalat.html">Kínálat</a></li>
				<li><a href="../index.html#akciok">Akciók</a></li>
				<li><a href="../index.html#gyertek">Gyertek együtt</a></li>
				<li><a href="../index.html#foglalas">Foglalás</a></li>
				<li><a href="../index.html#elerhetoseg">Elérhetőség</a></li>
			</ul>
		</nav>
		<main>
			<p class="navskip"></p>
			<div id="kinalat">
				<p class="navskip"></p>
				<h2>Italaink</h2>
				<h3>Sörök</h3>
				<div class="nagydiv">

					<div class="kisdiv bal">
						<p>Pale Ale</p>
						<img src="../images/paleale.jpg" alt="Pale Ale sör">
					</div>
					<div class="kisdiv center">
						<p>Búza sör</p>
						<img src="../images/buza.png" alt="Búza sör">
					</div>
					<div class="kisdiv jobb">
						<p>Barna sör</p>
						<img src="../images/barna.png" alt="Barna sör">
					</div>
				</div>
				<h3>Borok</h3>
				<div class="nagydiv">
					<div class="kisdiv bal">
						<p>Édes vörösbor</p>
						<img src="../images/voros.jpg" alt="Édes vörös bor">
					</div>
					<div class="kisdiv center">
						<p>Száraz fehérbor</p>
						<img src="../images/feher.jpg" alt="Száraz fehér bor">
					</div>
					<div class="kisdiv jobb">
						<p>Félédes rosé</p>
						<img src="../images/rose.jpg" alt="Félédes rosé bor">
					</div>
				</div>
				<h3>Whisky-k</h3>
				<div class="nagydiv">
					<div class="kisdiv bal">
						<p>Jack Daniels</p>
						<img src="../images/jack.jpg" alt="Jack Daniels">
					</div>
					<div class="kisdiv center">
						<p>Chivas Regal</p>
						<img src="../images/chivas.jpg" alt="Chivas Regal">
					</div>
					<div class="kisdiv jobb">
						<p>Jim Beam</p>
						<img src="../images/jim.jpg" alt="Jim Beam">
					</div>
				</div>
				<h3>Koktélok</h3>
				<div class="nagydiv">
					<div class="kisdiv bal">
						<p>Bloody mary</p>
						<img src="../images/mary.jpg" alt="Bloody Mary">
					</div>
					<div class="kisdiv center">
						<p>Corpse Reviver</p>
						<img src="../images/reviver.jpg" alt="Corpse Reviver">
					</div>
					<div class="kisdiv jobb">
						<p>French 75</p>
						<img src="../images/75.jpg" alt="French 75">
					</div>
				</div>
			</div>
	</div>
</body>
</html>
